<h2><% html_title l(:label_download_title) %></h2>
<p>
  <%= form_tag("/download", method: "get") do %>
    <%= hidden_field_tag(:project_id, params[:project_id]) %>
    <%= submit_tag(l(:label_download_action)) %>
    <%= check_box_tag(:include_pdf_summary_of_issues) %>
    <%= label_tag(nil, l(:label_include_pdf_summary_of_issues)) %>
  <% end %>
</p>
<div class="autoscroll">
  <table class="list issues odd-even">
    <thead>
    <tr>
      <th><%= l(:label_project) %></th>
      <th><%= l(:label_user) %></th>
      <th><%= l(:label_time_started) %></th>
      <th><%= l(:label_time_finisher) %></th>
      <th><%= l(:label_num_issues) %></th>
      <th><%= l(:label_num_files) %></th>
      <th><%= l(:label_result) %></th>
    </tr>
    </thead>
    <tbody>
    <% @downloads.each do |download| %>
      <tr>
        <td><%= download.project.blank? ? "" : download.project %></td>
        <td><%= download.user.blank? ? "" : download.user %></td>
        <td><%= download.time_started.blank? ? "" : download.time_started.localtime %></td>
        <td><%= download.time_finished.blank? ? "" : download.time_finished.localtime %></td>
        <td><%= download.num_issues.blank? ? "" : download.num_issues %></td>
        <td><%= download.num_files.blank? ? "" : download.num_files %></td>
        <td><%= if (download.result.blank? ? 99 : download.result) == 0
                  "Success"
                else
                  "Error"
                end %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>